# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# Data 
data/bronze/*
data/silver/*
data/gold/*
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Spark
spark-warehouse/
metastore_db/
derby.log
*.crc

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Secrets / env vars
.env
.env.*
# Databricks CLI
.databricks/
